/*Ejecutar npm run scss*/
.jumbotron {
  background-color: #ffffff;
  color: #f5f5f5;
  background-image: url(../assets/img/hostel-142520_1920.jpg);
  margin-top: 50px;
  margin-bottom: 0px;
  height: 400px; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 8px; }

.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #dee2e6; }

/*.card-hotel .btn{ esto es lo mismo pero sin crear una nueva clase se aplica los estilos a todos los botones
    que esten dentro de la clases card-hotel */
.btn-reserva {
  width: 100%;
  border-radius: 0; }

a {
  text-decoration: none !important;
  color: black; }

a:hover {
  color: #f5f5f5; }

.footer-adress-icon {
  margin-right: 10px; }

.tab-content {
  padding: 10px 0px 0px 0px; }

.masinfo {
  color: #29db12 !important; }

.navbar-brand {
  color: #29db12 !important; }

.col-5.col-form-label {
  padding-left: 0px;
  padding: 0px 0px 0px 0px; }

.popover-header {
  background-color: #ffffff; }
