/*Ejecutar lessc assets/css/style2.less assets/css/style2.css*/

@yellow: #ffc107;
@white:#f5f5f5;
@grey:#dee2e6;
@black:black;
@green:#29db12;

.margenes(@top,@bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.paddings(@top, @right,@bottom,@left) {
    padding: @top @right @bottom @left;
}

.jumbotron{
    background-color: @yellow;
    color: @white;
    background-image: url(/assets/img/hostel-142520_1920.jpg);
   .margenes(50px, 0px);
    height: 400px;
}

footer{
    .paddings(10px, 10px, 0px, 10px);
    background-color: @yellow;
    .margenes(10px, 8px);

}

.card-hotel{
    flex:1 250px;
    .margenes(10px, 0px);
    background-color: @grey;
}

/*.card-hotel .btn{ esto es lo mismo pero sin crear una nueva clase se aplica los estilos a todos los botones
    que esten dentro de la clases card-hotel */
.btn-reserva{
    width: 100%;
    border-radius: 0;
}

a{
    text-decoration: none !important;
    color: @black;
}
a:hover{
    color: @white;
}

.footer-adress-icon{
    margin-right: 10px;
}

.tab-content{
    .paddings(10px, 0px, 0px, 0px);
}

.masinfo{
    color: @green !important;
}

.navbar-brand{
    color: @green!important;
}

.col-5.col-form-label{
    padding-left: 0px;
    .paddings(0px, 0px, 0px, 0px);
}

.popover-header{
    background-color: @yellow;
}